<!-- Filter Section for Todos -->
<div class="filter-section">
  <h3 class="text-center">
    Filter Todos
  </h3>
    <div class="card card-body mb-3">
        <div class="d-flex flex-row justify-content-between">
          <!-- Search input control -->
          <input type="text" class="inputTitle form-control form-control-lg text-center mr-2" [formControl]="searchControl"  placeholder="Search">
          <!-- Category selection for control -->
          <select  class="inputCategory form-select form-select-lg text-center mr-2" [formControl]="categoryControl" placeholder="Select Category of Todo">
            <option  value="" >All Categories</option>
            <option  value="{{category.id}}" *ngFor="let category of categories$|async">{{category.name}}</option>
          </select>
        </div>
    </div>
  </div>