<nav class="navbar navbar-light bg-light d-flex justify-content-between">
    <div class="container-fluid"></div>
    <div class="col-4">
    <a class="navbar-brand"   >
        <img src="../../../assets/icron-logo.png" width="120" height="50" class="" alt="">
    </a>
    </div>
    <div class="col-4 d-flex justify-content-center">
   <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
        <a  routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/categories" routerLinkActive="active" >Categories</a>
      </li>
      <li class="nav-item">
        <a  routerLink="/todos" routerLinkActive="active">Todos</a>
      </li>
    </ul>
    </div>
    <div class="col-4 text-end">
    <h3><strong>To Do</strong></h3>
    </div>
</nav>
