<div class="homeContainer">
    <div class="d-flex">
<div class="d-flex flex-column">
    <div>
        <div class="information d-flex justify-content-center align-items-center mt-5"><strong>Welcome to our todo application, press the categories button to go to the categories page, press the todos button to go to the todos page</strong></div>
    </div>
    <div class="d-flex flex-row justify-content-around mt-5">
    <a href="" class="btn-primary" routerLink="/categories">Categories</a>
    <a href="" class="btn-primary" routerLink="/todos">Todo</a>
    </div>
</div>
</div>
</div>