<form [formGroup]="addTodoGroup" (submit)="addTodoRow()">
  <div class="headerSection m-0">
    <h3 class="text-center">
      Add Todos
    </h3>
  </div>
  <div class="d-flex flex-row">
    <div class="card card-body d-flex flex-row justify-content-between w-100">
      <!-- Input field for todo title -->
      <div class="inputTitle">
        <input type="text" class="form-control form-control-lg text-center" formControlName="title" placeholder="Add Todo">
      </div>
      <!-- Dropdown list for selecting a category -->
      <div class="inputCategory">
        <select name="todoCategory" id="todoCategory" class="form-select form-select-lg text-center" formControlName="categoryId" placeholder="Select Category of Todo">
          <option value={{0}}  selected >Select a category</option>
          <option  value={{item.id}} *ngFor="let item of categories$|async">{{item.name}}</option>
        </select>        
      </div>
      <!-- Button to submit the todo. Button is disabled when todo form is invalid. -->
      <div>
        <button type="submit" class="btn-primary" [disabled]="addTodoGroup.invalid!" >Add</button>
      </div>
  </div>
  </div>
</form>
<!-- Todo Filter Component -->
<app-filter-todo
                 (onSearchChange)="searchControl.setValue($event)" 
                 (onCategoryChange)="categoryControl.setValue($event)">
</app-filter-todo>
<div class="container p-0">
  <form [formGroup]="todosForm">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" *ngFor="let header of todoTitles">{{header}}</th>
        </tr>
      </thead>
    <tbody formArrayName="todos">
      <tr *ngFor="let todosCtrl of todos.controls; let i = index" [formGroupName]="i">
        <td>
          <input type="text" class="form-control text-center"  formControlName="title">
        </td>
        <td>
          <select formControlName="categoryId" class="form-select text-center"  >
            <option  *ngFor="let category of categories$ | async" [value]="category.id">{{category.name}}</option>
          </select>        
        </td>
          <td class="operationsColumn">
            <button class="btn btn-danger" (click)="onDelete(i,todosCtrl.value['id'])">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
      <button class="btn btn-success"  [disabled]="!hasChanges " (click)="onSaveAll()">Save All</button>
      <button class="btn btn-warning"   (click)="resetChanges()">Reset Changes</button>
  </form>
</div>

