@import '../../../../../styles.scss';
.btn-danger {
    @include btn-danger;
}
.btn-success{
    @include btn-success;
}
.btn-warning {
    @include btn-warning;
}
.btn-primary {
    @include btn-primary;
}
.inputTitle , .inputCategory
{
    width:40%;
}

.table
{
    td,th{
        text-align: center;
    }
    .operationsColumn
    {
        width:30%;
    }
    .categoryColumn, .titleColumn
    {
        width:30%;
    }
}
