<hr>
<!-- Todo Filter Component -->
<app-filter-todo
                 (onSearchChange)="searchControl.setValue($event)" 
                 (onCategoryChange)="categoryControl.setValue($event)">
</app-filter-todo>
<div class="container p-0">
  <form [formGroup]="todosForm">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" *ngFor="let header of todoTitles">{{header}}</th>
        </tr>
      </thead>
    <tbody formArrayName="todos">
      <tr *ngFor="let todosCtrl of todos.controls; let i = index" [formGroupName]="i">
        <td>
          <input type="text" class="form-control text-center"  [readOnly]="!isEditing" formControlName="title">
        </td>
        <td>
          <select formControlName="categoryId" class="form-select text-center"  >
            <option  *ngFor="let category of categories$ | async" [value]="category.id" [disabled]="!isEditing">{{category.name}}</option>
          </select>        
        </td>
          <td class="operationsColumn">
            <button class="btn btn-danger" (click)="onDelete(i,todosCtrl.value['id'])">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" *ngIf="!isEditing" (click)="onUpdate()">Update</button>
    <div *ngIf="isEditing" >
      <button class="btn btn-success"  [disabled]="!hasChanges " (click)="onSaveAll()">Save All</button>
      <button class="btn btn-danger" (click)="onCancelChanges()">Cancel</button>
      <button class="btn btn-warning"   (click)="resetChanges()">Reset Changes</button>
      </div>
  </form>
</div>

