
<h1 id="addHeader" class="text-center">Add Todo</h1>
<form [formGroup]="todoForm" (submit)="onSubmitTodoForm()">
  <div class="card">
    <div class="card-body">
      <div class="d-flex flex-row align-items-center">
        <input type="text" class="form-control form-control-lg text-center mr-2" formControlName="title" placeholder="Add Todo">
        <select name="todoCategory" id="todoCategory" class="form-select form-select-lg text-center mr-2" formControlName="categoryId" placeholder="Select Category of Todo">
          <option value={{0}}  selected >Select a category</option>
          <option  value={{item.id}} *ngFor="let item of categories$|async">{{item.name}}</option>
        </select>
        <div>
          <button type="submit" class="btn btn-success" [disabled]="todoForm.invalid">Add</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="filter-section">
  <div class="card">
    <div class="card-body">
      <div class="d-flex flex-row align-items-center">
        <input type="text" class="form-control form-control-lg text-center mr-2" [formControl]="searchControl" placeholder="Search">
        <select  class="form-select form-select-lg text-center mr-2" [formControl]="categoryControl" placeholder="Select Category of Todo">
          <option  value="" >All Categories</option>
          <option  value="{{item.id}}" *ngFor="let item of categories$|async">{{item.name}}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-column justify-context-center align-items-center">
  <div class="tableContainer d-flex justify-content-center align-items-center flex-column">
    <table id="categoryTable" class="table table-bordered mt-3">
        <thead class="thead-dark">
          <tr>
            <th *ngFor="let title of todoTitles">
                {{title}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of todos$ | async">
            <td id="idColumn">{{ todo.id }}</td>
            <td id="nameColumn">
              <div *ngIf="editingId !== todo.id">
                {{ todo.title }}
              </div>
              <div *ngIf="editingId === todo.id">
                <input type="text" [formControl]="editTitleControl">
              </div>
            </td>
            <td id="nameColumn">
              <div *ngIf="editingId !== todo.id">
                {{ getCategoryNameById(todo.categoryId) }}
              </div>
              <div *ngIf="editingId === todo.id">
                <select name="todoCategory" id="todoCategory" class="form-select form-select-lg text-center mr-2" [formControl]="editCategoryIdControl" placeholder="Select Category of Todo" value="{{todo.categoryId}}">
                  <option  value="{{item.id}}" *ngFor="let item of categories$|async">{{item.name}}</option>
                </select>
              </div>
            </td>
            <td id="deleteColumn">
              <ng-container  *ngIf="editingId !== todo.id">
                <button id="operation-button" class=" btn rounded-btn btn-danger mr-5" (click)="onDelete(todo.id)">Delete</button>
                <button id="operation-button" class=" btn btn-success" (click)="onEdit(todo.id, {id:0,title:todo.title,categoryId:todo.categoryId})">Edit</button>
              </ng-container>
              <ng-container *ngIf="editingId === todo.id">
                <button id="operation-button" class=" btn btn-success mr-5" (click)="onSave(todo)">Save</button>
                <button id="operation-button" class=" btn btn-danger" (click)="onCancel()">Cancel</button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
