@import '../../../../../styles.scss';
.btn-danger {
    @include btn-danger;
}
.btn-success{
    @include btn-success;
}
.btn-primary {
    @include btn-primary;
}
.btn-warning {
    @include btn-warning;
}
#addCategoryHeader
{
    color:$headerColor;
}

.table
{
    td,th{
        text-align: center;
    }
    .operationsColumn
    {
        width:35%;
    }
}
