<form [formGroup]="addCategoryGroup" class="mb-5" (submit)="addCategoryRow()">
  <div class="card-body ">
    <div class="d-flex flex-row justify-content-center align-items-center">
      <!-- Category Name Input -->
      <input type="text" class="form-control form-control-lg text-center mr-2" formControlName="name" placeholder="Add Category">
      <div>
        <!-- Add Category Button - Disabled if Form is Invalid -->
        <button type="submit" class="btn-primary" [disabled]="addCategoryGroup.invalid">Add</button>
      </div>
    </div>
  </div>
</form>
<div class="container p-0">
  <form [formGroup]="categoriesForm">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" *ngFor="let header of categoryTitles">{{header}}</th>
        </tr>
      </thead>
    <tbody formArrayName="categories">
      <tr *ngFor="let categoryCtrl of categories.controls; let i = index" [formGroupName]="i">
        <td>
          <input type="text" class="form-control text-center"  formControlName="name">
        </td>
          <td class="operationsColumn">
            <button class="btn btn-danger" (click)="onDelete(i,categoryCtrl.value['id'])">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mb-2">
      <button class="btn btn-success"  [disabled]="!hasChanges " (click)="onSaveAll()">Save All</button>
      <button class="btn btn-warning"   (click)="resetChanges()">Reset Changes</button>
  </div>
  </form>
</div>
