.tableContainer
{
    width:100%;
}
#categoryTable
{   
    width:50%;
    border: 2px solid #bababa; 
}
#categoryTable thead th, tbody td, tr
{
    border: 2px solid black; 
}
#idColumn
{
    width:10%;
}
#nameColumn
{
    width:60%;
}
#buttonAddValue{
    width:400px;
}
#categoryTableHeader
{
    padding:20px 61px 20px 61px;
    border:1px solid black;
}
#operation-button
{
    width:40% !important;
}
